package view

import (
	"ericarthurc.com/internal/model"
	"ericarthurc.com/internal/view/components"
)

templ BlogIndex(featuredPosts []model.Post, nonFeaturedPosts []model.Post) {
	<div class="main-layout">
		<div class="page-title-box">
			<h3>Blog</h3>
		</div>
		@components.PostContainer(featuredPosts, nonFeaturedPosts, true)
	</div>
}
