package view

import "ericarthurc.com/internal/model"

templ BlogSlug(post model.Post) {
	<div class="blog-layout">
		<h1>Blog Layouts</h1>
		<div class="post-content-container">
			@templ.Raw(post.Content)
		</div>
	</div>
}
