@font-face {
	font-family: 'Inter';
	font-weight: normal;
	src: url('/fonts/InterVariable.woff2') format('woff2');
	font-display: swap;
	font-weight: 100 900;
}

@font-face {
	font-family: 'Geist';
	font-display: swap;
	font-style: normal;
	font-weight: normal;
	src: url('/fonts/Geist.ttf');
}

@font-face {
	font-family: 'GeistMono';
	font-display: swap;
	font-style: normal;
	font-weight: normal;
	src: url('/fonts/GeistMono.ttf');
}
